{% extends 'blog/base.html' %}
{% block content %}
    <a href="{% url 'post_new' %}" class="button">Добавить должность</a>
    {% for post in object_list %}
        <div>
            <h2> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.PostName }}</a> </h2>
            <p>Оклад: {{ post.PostSalary|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <div class = "container">
      <div class = "col-md-6">
        <ul class="pager">
          <span class="step-links">
            {% if object_list.has_previous %}
            <li class="previous"> <a href="?page={{ object_list.previous_page_number }}">Предыдущая страница</a></li>
            {% else %}
            <li class="previous"> <a title = "No Posts available">Предыдущая страница</a></li>
            {% endif %}
            {% if object_list.has_next %}
            <li class="next"><a href="?page={{ object_list.next_page_number }}">Следующая страница</a></li>
            {% else %}
            <li class="next"><a title = "No Posts available">Следующая страница</a></li>
            {% endif %}
            </span>
         </ul>
      </div>
    </div>
{% endblock %}